<!DOCTYPE html>
<html>
    <head>
        <title>Please select a band</title>
        <link rel="stylesheet" href="views/assets/err.css">
    </head>
    <body class="body">
        <div class="errortext">
            <p class="oops"><b>Oops, something went wrong</b></p>
            <p>we couldn't find the band you were looking for</p>
            <p>please select a band on main page</p>
        </div>
        <div class="buttondiv">
            <a class="button" href="/">
                <div class="homebutton">
                    <p class="buttontext"><b>&#60 Back to main page</b></p>
                </div>
            </a>
        </div>    
    </body>
</html>