<!DOCTYPE html>
<html>
    <head>
        <title>500 something went wrong</title>
        <link rel="stylesheet" href="views/assets/err.css">
    </head>
    <body class="body">
        <div class="errortext">
            <p class="oops"><b>Oops, something went wrong</b></p>
            <p>A terrible battle was fought in our server.<br>Please contact one of the creators and describe what you were trying to do.</p>
            
        </div>
        <div class="buttondiv">
            <a class="button" href="/">
                <div class="homebutton">
                    <p class="buttontext"><b>&#60 Back to main page</b></p>
                </div>
            </a>
        </div>    
    </body>
</html>